
<mat-card>
  <mat-form-field >
    <input matInput placeholder="first name">
  </mat-form-field>
  <mat-form-field >
    <input matInput placeholder="last name">
  </mat-form-field>
  <br>
  <mat-form-field >
    <input matInput placeholder="number">
  </mat-form-field>
  <br>
  <mat-form-field >
    <input matInput placeholder="address">
  </mat-form-field>
  <mat-form-field >
    <input matInput placeholder="city">
  </mat-form-field>
  <br>
  <button mat-raised-button title="save"> <mat-icon mat-list-icon > save </mat-icon> </button>
  <button mat-raised-button title="cancel" (click)="showContactList()"> <mat-icon mat-list-icon > clear </mat-icon> </button>
</mat-card>




