
<mat-card>
  <mat-form-field >
    <input matInput [(ngModel)]="contact.firstName" placeholder="first name" >
  </mat-form-field>
  <mat-form-field >
    <input matInput [(ngModel)]="contact.lastName" placeholder="last name">
  </mat-form-field>
  <br>
  <mat-form-field >
    <input matInput [(ngModel)]="contact.phoneNumber" placeholder="number">
  </mat-form-field>
  <br>
  <mat-form-field >
    <input matInput [(ngModel)]="contact.streetAddress" placeholder="address">
  </mat-form-field>
  <mat-form-field >
    <input matInput [(ngModel)]="contact.city" placeholder="city">
  </mat-form-field>
  <br>
  <button mat-raised-button routerLink="/" (click)="addContact()" title="save"> <mat-icon mat-list-icon > save </mat-icon> </button>
  <button mat-raised-button title="cancel" (click)="showContactList()"> <mat-icon mat-list-icon > clear </mat-icon> </button>
</mat-card>




