<mat-sidenav-container >
  <mat-sidenav #sidenav mode="over" opened="false">
    <button mat-raised-button title="home" (click)="showContactList()"> <mat-icon mat-list-icon > home </mat-icon> </button>
    <br>
<button mat-raised-button  title="add contact" (click)="showAddContact()"> <mat-icon mat-list-icon > person add </mat-icon> </button>
    <br>

  </mat-sidenav>


<mat-toolbar  color="primary"><button type="button" mat-button (click)="sidenav.open()">
  <mat-icon mat-list-icon>list </mat-icon>
</button>contacts app</mat-toolbar>
  <ca-contact-list></ca-contact-list>
  <router-outlet></router-outlet>

</mat-sidenav-container>







